
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

*.log   #for docker
docker-compose.override.yml

# IDE settings
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
